.container-fluid{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/517/014/small/Healthcare_Character.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom;
}

.dashboard-card{
    border-radius: 10px;
    box-shadow: 0 4px, 10px, rgba(0,0,0,0.1);
    transition: transform 0.5s ease-in-out, box-shadow 0.3s ease;
    cursor: pointer;
}

.dashboard-card:hover{
    transform: scale(1.01) translateY(-8px);
    box-shadow: 0, 10px, 20px, rgba(0,0,0,0.2);
}

li{
    cursor: pointer;
}

li:hover{
    color: aquamarine;
}

select{
    cursor: pointer;
}